.venv
__pycache__
.pytest_cache
.mypy_cache
.DS_Store
*.pyc
*.pyo
*.pyd
.git
.gitignore
*.db
*.sqlite
*.sqlite3
*.log
*.pem
*.p8
*.key
*.crt
*.der
*.pub
*.env
.env*
node_modules
*.ipynb_checkpoints
*.tar
*.tar.gz
*.zip
*.7z

